body {
  margin: 0;
}
#canvasOverlay {
  position: absolute;
  top: 0;
  left: 0;
}
.canvasOverlayBtn {
  height: 64px;
  width: 64px;
  position: absolute;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
